#reportGuests {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 968px) {
    #reportGuests {
      padding: 5%;
    }
  }