@font-face {
  font-family: Lato;
  src: url(../Fonts/Lato-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.11rem;
  font-family: Lato;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}

#root {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

#router_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#router_container>:first-child {
  width: 18.5%;
  /* background-color: red; */
}

#router_pages {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(255, 255, 255, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.0),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  /* justify-content: center; */
}

input {
  width: 10px !;
}

/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

#all-table-container {
  width: 100%;
  overflow-x: scroll;
  max-width: 1400px;
  flex-wrap: wrap;
}

@media (max-width:1018px) {
  #all-table-container {
    overflow-x: auto;
    max-width: 90%;
    width: 750px;
  }
}

@media (max-width:880px) {
  #all-table-container {
    overflow-x: auto;
    max-width: 100%;
    width: 400px;
  }
}

@media (max-width:595px) {
  #all-table-container {
    overflow-x: auto;
  max-width: 100%;
  background-color: red;
  }

  #all-table-container table {
    width: 100px;
    overflow-x: auto;
  }
}

@media (max-width:780px) {
  #all-table-container {
    overflow-x: auto;
    max-width: 100%;
    width: 600px;
  }
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  flex-wrap: wrap;
  overflow-x: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #F8F8F8;
  color: #ACACAC;
  text-align: center;
  height: 70px;
  position: sticky;
  top: 0;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
}

tbody tr {
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #c7c7c7;
}

tbody tr>td>img {
  height: 50px;
  width: 50px;
  border-radius: 3px;
}

tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #c7c7c7);
  border-radius: 6px;
}