#advertisementCard {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .adsTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .adsId {
    width: 3%;
  }
  
  .ads10prots {
    width: 10%;
  }
  
  .adsTdFigure {
    width: 100%;
    height: 100%;
  }
  
  .adsTdFigure > img {
    width: 100%;
    height: 100%;
  }
  
  .ads8prots {
    width: 8%;
  }
  
  .adsTh :nth-child(9) {
    width: 32%;
    padding-left: 2px;
    padding-right: 2px;
  }