#add-crud-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

#ad-user-crud-container {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

#ad-user-crud-container input {
    border: 1px solid black;
    outline: none;
    background: none;
    width: 100%;
    height: 7vh;
    color: #ACACAC;
    padding-left: 10px;
    font-size: 17px;
    border-radius: 6px;
}

#ad-user-crud-container-left {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 45%;
    align-items: center;
    /* background-color: rebeccapurple; */
}

#ad-user-crud-container-right {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 48%;
    align-items: center;
}
/* 
#ad-user-crud-container-right>label {
    border: 1px solid black;
    font-size: 18px;
    width: 100%;
    padding-left: 10px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    color: #ACACAC;
    align-items: center;
} */

#ad-user-crud-container-right>label>input {
    display: none;
}

#upload-images-crud>img {
    width: 200px;
    height: 200px;
}

#upload-images-crud {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid black;
    padding: 15px 17px;
    border-radius: 8px;
}

#upload-images-crud>button {
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: -10px;
}

#upload-images-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    width: 90%;
    gap: 0.5rem;
}

#upload-images-crud-add-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid black;
    padding: 15px 0 15px 10px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    font-size: 20px;
    color: #ACACAC;
}

#upload-images-crud-add-label>input {
    display: none;
}

#ad-crud-btn {
    width: 90%;
    background-color: #ACACAC;
    color: white;
    border: none;
    outline: none;
    height: 60px;
    border-radius: 8px;
    font-size: 22px;
}

#add-user-select-item {
    width: 100%;
    border: 1px solid black;
    outline: none;
    background: none;
    height: 50px;
    color: #ACACAC !important;
    padding-left: 10px;
    font-size: 17px;
    border-radius: 6px;
}
@media only screen and (max-width: 850px) {
    #ad-user-crud-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.1rem;
        padding: 0 10px;
    }

    #add-crud-form {
        display: flex;
        gap: 1rem;
    }

    #add-crud-form input {
        height: 38px;
        border-radius: 4px;
    }

    #add-crud-form select {
        height: 38px;
        border-radius: 4px;
    }

    #upload-images-crud-add-label {
        height: 38px;
        border-radius: 4px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 17px;
    }

    #ad-crud-btn {
        height: 45px;
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
    #ad-user-crud-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #ad-user-crud-container-left {
        width: 100%;
        padding: 0 20px;
    }

    #ad-user-crud-container-right {
        width: 100%;
        padding: 0 20px;
    }

    #ad-user-crud-container-right {
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 90%; */
        text-align: center;
    }

    #ad-user-crud-container-right>label {
        display: flex;
        justify-content: center;
    }

    /* #upload-images-container {
        display: flex;
        justify-content: center;
    } */

    #add-crud-form input,label {
        width: 100%;
    }

}