#advertise-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    max-width: 1800px;
}


#productsId {
    background-color: #F0F9FF;
    display: flex;
    align-items: center;
    height: 180px;
    border-radius: 10px;
    width: 350px;
    padding: 0 30px;
    justify-content: space-between;
    transition: 0.4s ease-in-out;
}


#productsId> :first-child {
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
    top: -30px;
}

#productsId> :first-child:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

#productsId> :nth-child(2) {
    position: relative;
    bottom: -50px;
    transition: 0.3s ease-in-out;
}

#productsId> :nth-child(2):hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

#priceId {
    background-color: #FEF6FB;
    display: flex;
    align-items: center;
    height: 180px;
    border-radius: 10px;
    width: 350px;
    padding: 0 30px;
    justify-content: space-between;
    transition: 0.4s ease-in-out;
}



#priceId>:first-child {
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: 0.3s ease-in-out;
}

#priceId> :nth-child(1):hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

#priceId>:nth-child(2) {
    position: relative;
    bottom: -50px;
    transition: 0.3s ease-in-out;
}

#priceId> :nth-child(2):hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

#enoughId {
    background-color: #FEFBEC;
    display: flex;
    align-items: center;
    height: 180px;
    border-radius: 10px;
    width: 350px;
    padding: 0 30px;
    justify-content: space-between;
    transition: 0.4s ease-in-out;
}


#enoughId>:first-child {
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: 0.3s ease-in-out;
}

#enoughId> :nth-child(1):hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

#enoughId>:nth-child(2) {
    position: relative;
    bottom: -50px;
    transition: 0.3s ease-in-out;
}

#enoughId> :nth-child(2):hover {
    transform: scale(1.11);
    transition: 0.3s ease-in-out;
}

#ordersId {
    background-color: #FCBC18;
    display: flex;
    align-items: center;
    height: 180px;
    border-radius: 10px;
    width: 350px;
    padding: 0 30px;
    justify-content: space-between;
    transition: 0.4s ease-in-out;
}



#ordersId>:first-child {
    position: relative;
    top: -30px;
    display: flex;
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
    gap: 1rem;
    transition: 0.3s ease-in-out;
}

#ordersId> :nth-child(1):hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

#ordersId> :nth-child(2) {
    position: relative;
    bottom: -50px;
    transition: 0.3s ease-in-out;
}

#ordersId> :nth-child(2):hover {
    transform: scale(1.3);
    transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 900px) {
    #advertise-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
    }

}

@media only screen and (max-width: 500px) {

}