#header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  width: 100%;
  height: auto;
  align-items: center;
  height: 100px;
  position: relative;
  top: 0;
}

#header_left> :nth-child(2) {
  color: #aeaeae;
}

#header_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  width: 100%;
}

#header_right_user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* gap: 15px; */
}

#header_right_user>figure {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFC145;
}

#header_right_user_text> :nth-child(2) {
  color: #aeaeae;
}

#sub-basket {
  position: relative;
  top: -3px;
  /* left: -5px; */
}

#header-right-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  padding: 10px 16px;
  width: 25%;
}

#header-right-form>input {
  border: none;
  outline: none;
  color: #C4C4C4;
  font-size: 18px;
  width: 95%;
}